#funeralContainer{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 600px;
    text-align: justify;
}

h3, #funeralText{
    font-family: 'Montserrat';
}

#imgContainer{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}

#funeralImg{
    width: 100%;
}

@media screen and (min-width: 1024px) { 
    #funeralContainer{
        width: 40%;
        height: 400px;
    }

    .contactLinkFuneral{
        font-size: 2em;
    }
}
