<div id="imgContainer" >
<img id="funeralImg" [src]="imagePathFuneral" />
</div>

<article id="funeralContainer" >
<h3>Pourquoi les fonds d'obsèques ?</h3>

<p id="funeralText" >
  Incenderat autem audaces usque ad insaniam homines ad haec, quae nefariis egere conatibus, 
  Luscus quidam curator urbis subito visus: eosque ut heiulans baiolorum praecentor 
  ad expediendum quod orsi sunt incitans vocibus crebris. qui haut longe postea ideo vivus
  exustus est.
  <br/>
  <br/>
  <br/>
  Incenderat autem audaces usque ad insaniam homines ad haec, quae nefariis egere conatibus, 
  Luscus quidam curator urbis subito visus: eosque ut heiulans baiolorum praecentor 
  ad expediendum quod orsi sunt incitans vocibus crebris. qui haut longe postea ideo vivus
  exustus est.
  <br/>
  <br/>
  <br/>
  Incenderat autem audaces usque ad insaniam homines ad haec, quae nefariis egere conatibus, 
  Luscus quidam curator urbis subito visus: eosque ut heiulans baiolorum praecentor 
  ad expediendum quod orsi sunt incitans vocibus crebris. qui haut longe postea ideo vivus
  exustus est.
</p>
</article>

<button class="contactLink contactLinkFuneral" routerLink="/contact">Contactez nous</button>