<h3 id="contactUs" >Contactez nous !</h3>

<form id="contactForm" [formGroup]="contactForm" (ngSubmit)="onSubmit()">

<p class="formPSection" id="mailPSection" >
  <label for="mail" >*Mail :</label><br/>
    <input 
     id="mail"  
     class="contactFormInput" 
     type="email" 
     formControlName="mail"
     required>
</p>
<div class="alertForm" *ngIf="mail.invalid && (mail.dirty || mail.touched)" >
    <i class="fas fa-info-circle"></i> Le mail est invalide
</div>

<p class="formPSection" id="subjectPSection">
  <label for="subject">*Sujet :</label><br/>
  <input id="subject" class="contactFormInput" type="text" formControlName="subject" required/>
</p>
<div class="alertForm" *ngIf="subject.invalid && (subject.dirty || subject.touched)"> 
    <i class="fas fa-info-circle"></i> Ce champ est obligatoire
</div>


<p class="formPSection" id="messagePSection" >
  <label for="message">*Message :</label><br/>
  <textarea id="message" formControlName="message" required></textarea>
</p>
<div class="alertForm" *ngIf="message.invalid && (message.dirty || message.touched)">
    <i class="fas fa-info-circle"></i> Ce champ est obligatoire 
</div>

<button *ngIf="contactForm.valid" id="contactFormSubmit" type="submit" [disabled]="!contactForm.valid">Envoyer</button>
</form>





