input[type=text] {   
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#contactForm{
    width: 80%;
    margin-right: auto;
    margin-left: auto;

    font-family: 'Montserrat';

    .contactFormInput{
        border-radius: 5px;
    }
}