<header>
    <div id="titleDiv">
        <h1>C<span class="midleOfTitle">EC</span>P</h1>
        <hr id="leftLine" >
        <hr id="rightLine" >
    </div>

    <nav>

        <h2>{{currentUrl}}</h2>

        <button id="menuButton"><i class="fas fa-bars"></i></button>

        <ul id="menuList" >
            <li><a  class="menuLink" routerLink="/" ><i class="fas fa-home"></i> Accueil</a></li>
            <li><a  class="menuLink" routerLink="/hajj" ><i class="fas fa-kaaba"></i> Hajj</a></li>
            <li><a  class="menuLink" routerLink="/umrah" ><i class="fas fa-mosque"></i> Omra</a></li>
            <li><a  class="menuLink" routerLink="/funeral" ><i class="fas fa-quran"></i> Fonds d'obsèques</a></li>
            <li><a  class="menuLink" routerLink="/contact" ><i class="fas fa-envelope"></i> Contact</a></li>
        </ul>
    </nav>

</header>