<header>
    <div id="titleDiv">
        <h1>C<span class="midleOfTitle">EC</span>P</h1>
        <hr id="leftLine" >
        <hr id="rightLine" >
    </div>

    <nav>

        <h2>componentTitle</h2>

        <button id="menuButton" ><i class="fas fa-bars"></i></button>

        <ul id="menuList" >
            <li><a routerLink="/" ><i class="fas fa-home"></i> Accueil</a></li>
            <li><a routerLink="/" ><i class="fas fa-kaaba"></i> Hadj</a></li>
            <li><a routerLink="/" ><i class="fas fa-mosque"></i> Omra</a></li>
            <li><a routerLink="/" ><i class="fas fa-quran"></i> Fonds d'obsèques</a></li>
            <li><a routerLink="/" ><i class="fas fa-envelope"></i> Contact</a></li>
        </ul>
    </nav>

</header>