

<app-nav></app-nav>

<p style="font-size: 4em;" >test</p>
<p style="font-size: 4em;" >test</p>
<p style="font-size: 4em;" >test</p>
<p style="font-size: 4em;" >test</p>
<p style="font-size: 4em;" >test</p>
<p style="font-size: 4em;" >test</p>
<p style="font-size: 4em;" >test</p>
<p style="font-size: 4em;" >test</p>
<p style="font-size: 4em;" >test</p>
<p style="font-size: 4em;" >test</p>
<p style="font-size: 4em;" >test</p>
<p style="font-size: 4em;" >test</p>

<section>
<router-outlet></router-outlet>
</section>