<div id="sliderMainContainer">
        <div id="slider">
            <ul class="slides"><!-- the number of slide here will automaticly setup the hr number bellow and the js -->
                <li class="slide slide1"><img id="img1" class="slidesImg" [src]="imagePath1" /></li>
                <li class="slide slide2"><img id="img2" class="slidesImg" [src]="imagePath2" /></li>
                <li class="slide slide3"><img id="img3" class="slidesImg" [src]="imagePath3" /></li>
                <li class="slide slide4"><img id="img4" class="slidesImg" [src]="imagePath4" /></li>
            </ul>
        </div>
    
        <button class="sliderButton next" id="next"><i class="fas fa-chevron-circle-right fa-3x"></i></button>
        <button class="sliderButton prev" id="prev" ><i class="fas fa-chevron-circle-left fa-3x"></i></button>
    
        <div id="navigationBar">
    
        </div>
    
    </div>
