.omra{
	margin: 20px;
	text-align: justify;
	font-family: 'Montserrat';
}

//-------------------- slider ----------------------------------------
#slider {
    width: 720px;
    height: auto;
	overflow: hidden;
}

#slider .slides {
    display: block;
    width: 6000px;
    height: 100%;
    margin: 0;
    padding: 0;
}

#slider .slide {
    float: left;
    list-style-type: none;
    width: 720px;
    height: 100%;
}

#sliderMainContainer{
	width: 720px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}

.sliderButton{
	position: absolute;
	background: none;
	color: #e6e6e6;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#next{
	right: 10px;
	top: 40%;
}

#prev{
	left: 10px;
	top: 40%;
}

#navigationBar{
	position: absolute;
	bottom: 10px;
	width: 50%;
	height: 10px;
	margin-left: 25%;
}


hr.sliderHr{
	float: left;
	width: 70px;
	margin-left: 5px;
}

.slide{
	
	margin-left: auto;
    margin-right: auto;
  
}

.slidesImg{
	width: 100%;
  	height: auto;
}

@media screen and (min-width: 1024px) { 
	.omra{
		width: 60%;
		margin: 0 auto 20px auto;
	}

	.contactLinkOmra{
		font-size: 2em;
	}
}