<div id="sliderMainContainer">
            <div id="slider">
                <ul class="slides"><!-- the number of slide here will automaticly setup the hr number bellow and the js -->
                    <li class="slide slide1"><img [src]="imagePathMecca1" /></li>
                    <li class="slide slide2"><img [src]="imagePathMecca2" /></li>
                    <li class="slide slide3"><img [src]="imagePathMecca3" /></li>
                    <li class="slide slide4"><img [src]="imagePathMecca4" /></li>
                </ul>
            </div>

            <button class="sliderButton next" id="next"><i class="fas fa-chevron-circle-right fa-3x"></i></button>
            <button class="sliderButton prev" id="prev" ><i class="fas fa-chevron-circle-left fa-3x"></i></button>

            <div id="navigationBar">

            </div>

        </div>

<article>
<p>
  Hac Nedir ?

Hac İslamın beş esasından biridir. Hem mali ve hemde bedeni bir ibadettir. 
Hac, şartları kendisinde bulunan kişiye ömürde bir defa farzı ayındır. 
Mali durumu müsait olduğu halde, ömrünün sonuna kadar sıhhati müsait olmazsa vekil gönderir. 
Hac; lugatte tazim edilecek mekanları ziyaret kasdında bulunmaktır. İstilahda;</p>

<img id="hajjIstilahMeaning" src="assets/img/hajj.png" />

<p>
Hususi mekanı(Kabe-i muazzama ve civarındaki mukaddes mekanları) hususi zamanda(Hac ayları; 
şevval, zilkade, zilhiccede), Hususi fiille (Hac menasiki; haccın farzları, vacipleri, 
sünnetlerine riayetle) ziyaret etmektir. Peygamber efendimiz(S.A.V) buyurmuşlar ki; 
İslam beş temel esas üzerine kurulmuştur. Bunlar Allah(c.c)’dan başka ilah olmadığına ve 
Muhammed (sav)’in Allah’ın peygamberi olduğuna şehadet etmek, namaz kılmak, zekat vermek, 
ramazan orucu tutmak ve Kabeyi haccetmek tir.
<br/>
<a class="infoLink">Plus d'informations <i class="fas fa-hand-point-right"></i></a>
</p>
</article>

<br>
<br>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
<a class="contactLink" routerLink="/contact">Contactez nous</a>
