<div id="sliderMainContainer">
            <div id="slider">
                <ul class="slides"><!-- the number of slide here will automaticly setup the hr number bellow and the js -->
                    <li class="slide slide1"><img id="img1" class="slidesImg" [src]="imagePath1" /></li>
                    <li class="slide slide2"><img id="img2" class="slidesImg" [src]="imagePath2" /></li>
                    <li class="slide slide3"><img id="img3" class="slidesImg" [src]="imagePath3" /></li>
                    <li class="slide slide4"><img id="img4" class="slidesImg" [src]="imagePath4" /></li>
                </ul>
            </div>

            <button class="sliderButton next" id="next"><i class="fas fa-chevron-circle-right fa-3x"></i></button>
            <button class="sliderButton prev" id="prev" ><i class="fas fa-chevron-circle-left fa-3x"></i></button>

            <div id="navigationBar">

            </div>

        </div>

<article>
    <h3 id="hajjTitleH3" >Qu’est-ce que le Hajj ?</h3>
<p>
    Le Hajj est l'un des 5 piliers de l’Islam. C’est une pratique à la fois physique mais aussi matérielle.
    Le culte du Hajj est obligatoire (Farz) pour chaque musulman au moins une fois dans leur vie. 
    Si ses moyens financiers le permettent mais sa santé ne le permet pas, la personne peut envoyer
    une autre personne par procuration à sa place. Le mot Hajj signifie respecter les lieux saints et
    sacrés de l’Islam. Une autre signification du mot Hajj désigne plus précisément la visite de 
    la Kaa’ba et des lieux saints pendant des moments précis (lors des mois de Hajj appelés Sevval, Zilkade et Zilhicce)
    afin de pratiqué 
  les cultes ordonnés de l’Islam (en respectant les farz, vacip et sunnah Du Hajj). 
</p>

<img id="hajjIstilahMeaning" src="assets/img/hajj.png" />

<p>
    Notre Prophète (s.a.v) dit dans un hadtih : « L’islam est basé sur cinq piliers. 
    Témoigner de l’Unicité d’Allah, témoigner que Muhammed Mustafa est son prophète ; 
    faire les 5 prières par jour ;
    donner l’aumône (la zakah) ; jeûner pendant le mois du Ramadan ; faire le Hajj »
<br/>
<button class="infoLink">Plus d'informations <i class="fas fa-hand-point-right"></i></button>
</p>
</article>

<button class="contactLink" routerLink="/contact">Contactez nous</button>
