<p>
  Hac Nedir ?

Hac İslamın beş esasından biridir. Hem mali ve hemde bedeni bir ibadettir. 
Hac, şartları kendisinde bulunan kişiye ömürde bir defa farzı ayındır. 
Mali durumu müsait olduğu halde, ömrünün sonuna kadar sıhhati müsait olmazsa vekil gönderir. 
Hac; lugatte tazim edilecek mekanları ziyaret kasdında bulunmaktır. İstilahda;</p>

<img src="assets/img/hajj.png" />

<p>
Hususi mekanı(Kabe-i muazzama ve civarındaki mukaddes mekanları) hususi zamanda(Hac ayları; 
şevval, zilkade, zilhiccede), Hususi fiille (Hac menasiki; haccın farzları, vacipleri, 
sünnetlerine riayetle) ziyaret etmektir. Peygamber efendimiz(S.A.V) buyurmuşlar ki; 
İslam beş temel esas üzerine kurulmuştur. Bunlar Allah(c.c)’dan başka ilah olmadığına ve 
Muhammed (sav)’in Allah’ın peygamberi olduğuna şehadet etmek, namaz kılmak, zekat vermek, 
ramazan orucu tutmak ve Kabeyi haccetmek tir
</p>

<a></a>