p{
    text-align: justify;
    margin: 20px;
}

#hajjIstilahMeaning{
    width:80%;
    margin: 0 20px 0 20px;
}


/* -------------------------------------- slider -----------------------------------------*/

.test{
    margin-top: 80px;
}