<div id="sliderMainContainer">
  <div id="slider">
      <ul class="slides"><!-- the number of slide here will automaticly setup the hr number bellow and the js -->
          <li class="slide slide1"><img id="img1" class="slidesImg" [src]="imagePath1" /></li>
          <li class="slide slide2"><img id="img2" class="slidesImg" [src]="imagePath2" /></li>
          <li class="slide slide3"><img id="img3" class="slidesImg" [src]="imagePath3" /></li>
          <li class="slide slide4"><img id="img4" class="slidesImg" [src]="imagePath4" /></li>
      </ul>
  </div>

  <button class="sliderButton next" id="next"><i class="fas fa-chevron-circle-right fa-3x"></i></button>
  <button class="sliderButton prev" id="prev" ><i class="fas fa-chevron-circle-left fa-3x"></i></button>

  <div id="navigationBar">

  </div>

</div>

<div id="welcomeTextAndMapContainer" >

<p id="welcometext" >
    Eodem tempore Serenianus ex duce, 
    cuius ignavia populatam in Phoenice Celsen ante rettulimus, 
    pulsatae maiestatis imperii reus iure postulatus ac lege, 
    incertum qua potuit suffragatione absolvi, aperte convictus 
    familiarem suum cum pileo, quo caput operiebat, incantato vetitis 
    artibus ad templum misisse fatidicum, quaeritatum expresse an ei firmum 
    portenderetur imperium, ut cupiebat, et cunctum.
</p>



<agm-map id="map" [latitude]="lat" [zoom]="zoom" [longitude]="lng">
  <agm-marker  [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>

</div>

<div id="paypalDiv">
<a id="paypalLink" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=SBLK6Z4Y6MK8S&source=url" >
  &nbsp; &nbsp; <img id="paypalImg" [src]="imagePathToPaypalImg"/> Faire un don &nbsp; 
</a>
</div>

